body {
  background-color: #f1f1f1;
}

video#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/lolbackground.png") no-repeat;
    background-size: cover;
    opacity: 0.75;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #707070;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #707070;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #707070;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #707070;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #707070;
}

.logo {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.logo-text {
  width: 50%;
  font-family: Artifika;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.logo-icon {
  float: left;
}

.search {
  width: 60%;
  margin: 40px auto 5% auto;
}

.search-bar {
  height: 50px;
  width: 100%;
  position: relative;
  border: 3px solid #4f474b;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #efefef;
  box-shadow: 0px 0px 50px 0px black;
}

.search-bar-content {
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #f2f2f2;
}

.search-bar-submit {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 10;
}

.result {
  width: 80%;
  margin: 20px auto 10% auto;
}

.summoner-result {
  height: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: #efefef;
  cursor: pointer;
  box-shadow: 0px 0px 100px -10px black;
}

.summoner-result:hover {
  background-color: #dddddd;
}

.summoner-result-name {
  margin: 0 0 0 20px;
  width: 35%;
  float: left;
  font-size: 20px;
}

.summoner-result-prompt {
  margin: 5px;
  float: right;
  font-style: italic;
  color: #686868;
}

.summoner-no-result {
    height: 30px;
    width: 50%;
    margin: 0 auto;
    background-color: #efefef;
    box-shadow: 0px 0px 100px -10px black;
    padding: 5px;
    text-align: center;
}

.summoner-no-result-content {
  margin: 0 20px;
}

.teams-result {
  box-shadow: 0px 0px 100px -10px black;
}

.teams-result-item {
  height: auto;
  margin-bottom: 5px;
  padding: 5px 20px 5px 20px;
  background-color: #efefef;
  border: 2px solid #e8e8e8;
  border-radius: 2px;
  cursor: pointer;
}

.teams-result-item:hover {
  background-color: #dddddd;
}

.teams-result-name {
  margin: 0;
}

.team-content {
  position: relative;
  width: 100%;
  background-color: #e2e2e2;
  margin: 0;
  padding: 20px;
  opacity: 0.95;
}

.team-content-roster {
  height: 50px;
  margin: 0 20px;
}

.team-content-member-name {
  width: 150px;
  float: left;
}

.team-content-stats {
  width: 80%;
  margin: 20px auto;
}

.team-content-stats-kda-table {
  width: 80%;
  margin: 0 auto;
}

.team-content-past-matches-title {
  margin-left: 20px;
}

.team-content-past-match {
  height: auto;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: auto;
  padding: 5px;
}

.teams-no-result {
  height: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0px 0px 100px -10px black;
  padding: 5px;
  text-align: center;
}

.past-match-item {
  margin: 0;
  opacity: 1;
}

.past-match-date {
  width: 20%;
  float: left;
}

.past-match-map {
  width: 40%;
  float: left;
  text-align: right;
}

.past-match-gameMode {
  width: 40%;
  float: left;
  text-align: right;
}

.won-match {
  background-color: #baffba;
}

.lost-match {
  background-color: #ffb2b2;
}

@media only screen and (max-width: 550px) {
  .logo-text {
    font-size: 30px;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity: 0;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity: 0;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity: 0;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0;
  }
  :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    opacity: 0;
  }

  .past-match-date {
    width: 100%;
  }

  .past-match-map {
    width: 100%;
    text-align: left;
  }

  .past-match-gameMode {
    width: 100%;
    text-align: left;
  }
}
