body {
  background-color: #f1f1f1;
}

.search-bar {
  height: 50px;
  width: 60%;
  position: relative;
  border: 3px solid #c3a3ff;
  border-radius: 5px;
}

.search-bar-content {
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.search-bar-submit {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 10;
}