body {
  background-color: #f1f1f1;
}

.search {
  width: 60%;
}

.search-bar {
  height: 50px;
  width: 100%;
  position: relative;
  border: 3px solid #c3a3ff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-bar-content {
  border: none;
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.search-bar-submit {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 10;
}

.search-summoner-result {
  width: 100%;
}

/*.search-summoner-result-title {
  margin-left: 20px;
}*/

.search-summoner-result-name {
  margin-left: 20px;
  width: 30%;
  float: left;
}

.search-summoner-result-level {
  width: 30%;
  float: left;
}

.search-summoner-result-prompt {
  margin-right: 20px;
  float: right;
  font-style: italic;
}

.search-summoner-no-result-content {
  margin-left: 20px;
}

.search-teams-result-item {
  /*margin: 0 20px 0 20px;*/
  padding: 0 20px 0 20px;
  background-color: red;
}

.search-teams-result-name {
  margin: 0;
}

.team-content {
  position: relative;
  width: 100%;
  /*margin: 0 20px 0 20px;*/
  background-color: #e2e2e2;
  margin: 0;
}